@media (min-width: 768px) {

 /*----------Fonts---------*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*=============MainBody==========*/

body {
    background-color: white;
    max-width: 100%;
}


.header {
    max-width: 100%;
    height: 5rem;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 5%;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    background-size: cover;
    position: sticky;
    top: 0;
    z-index: 100;
}


.logo img {
    width: 70px;
    position: relative;
    bottom: 15px;
}

.cart span {
    font-size: 50px;
    position: relative;
    bottom: 15px;
}

.greetings {
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    display: flex;
    position: relative;
    bottom: 10px;
}

/*=============Delivery Message==========*/


#container {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family: "Montserrat", sans-serif;
  }


  .slider {
    overflow: hidden;
  }

  
  .slitext {
    display: inline-block;
    animation: slideLeft 5s linear infinite;
  }
  
  @keyframes slideLeft {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }



  /*=============Hero Section==========*/


#hero-image {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-image: url(image/bg01.png);
    background-position: center;
    background-size: cover;
    position: relative;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
}


.hero-img img {
    width: 400px;
    padding-top: 100px;
    position: relative;
    bottom: 30px;
}


.hero-text {
    justify-content: center;
    align-content: center;
}

.hero-text h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 60px;
    line-height: 60px;
    color: black;
    text-align: center;
    padding: 0%;
    position: relative;
    top: 50px;
}

.hero-text span {
    color: rgb(199, 9, 9);
}

.hero-text p {
    font-family: "Montserrat", sans-serif;
    line-height: 30px;
    padding: 10%;
    font-size: 150%;
    font-weight: 600;
    color: rgb(49, 49, 49);
    text-align: center;
}


.c2a {
    margin-top: -30px;
}




.c2a button {
    display: block;
    background-color: rgb(199, 9, 9);
    border: none;
    border-radius: 4px;
    width: 50%;
    height: 80px;
    position: relative;
    color: white;
    cursor: pointer;
    transition: all .42s ease;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    font-size: 150%;
    
}

.c2a button:hover {
    background-color: black;
}

/*==========Whatsapp Icon=========*/


  .whatsapp-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }
  
  .whatsapp-btn {
    display: block;
    width: 60px;
    height: 60px;
    background-color: #107f39;
    border-radius: 50%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: blink 1s infinite alternate;
  }
  
  .icon {
    width: 40px;
    height: 40px;
    margin-top: 10px;
  }
  
  @keyframes blink {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.5;
    }
  }




/*==========Product Category=========*/


#product {
    background-color: white;
    padding-top: 80px;
    margin-bottom: 150px;
    max-width: 100%;
}


.p-text {
    display: flex;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    color: rgb(199, 9, 9);
}


.p-imagegfather {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    gap: 30px;
    padding:20px;
}


.p-imagegrandmother {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 40px;
}



.p-imagemother img {
    width: 100%;

}


.pimgtext {
    font-family: "Open Sans", sans-serif;
}

.pimgtext h3 {
    color: rgb(199, 9, 9);
}

.pimgtext h4 {
    color: rgb(39, 39, 39);
}


.pimgtext span {
    padding-left: 10px;
    font-size: 12px;
}



.p-button button {
    background-color: rgb(199, 9, 9);
    border: none;
    border-radius: 4px;
    width: 50%;
    height: 70px;
    position: relative;
    color: white;
    top: 15px;
    cursor: pointer;
    transition: all .42s ease;
    margin-left: 100px;
    margin-top: 60px;
    font-family: "Montserrat", sans-serif;
    font-size: 150%;
    left: 40%;
    transform: translateX(-50%);
}

.p-button button:hover {
    background-color: black;
}


/*=========Standard Shoke========*/


#standard {
    background-color: #fff4f3;
    height: 200px;
    align-items: center;
}


.mainiconbox{
    display: grid;
    flex-direction: column;
    position: relative;
    top: -10px;
    left: -10px;
    justify-content: space-between;
}

.s-iconbox {
    display: grid;
    flex-direction: column;
    padding: 45px;
    position: relative;
    grid-column-gap: 20px;
    margin-bottom: -50px;
    justify-items: center;
    
}


.icontext {
    position: relative;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
    position: relative;
    left: 10px;
    
}

.s-iconbox span {
    font-size: 40px;
    position: relative;
    padding-left: 20px;
    color: rgb(199, 9, 9);
    align-items: center;
    justify-content: center;
}

.s-iconbox h4 {
    color: rgb(199, 9, 9);
    font-family: "Open Sans", sans-serif;
    font-size: 120%;
    margin-bottom: 10px;
}

.s-iconbox p {
    color: rgb(39, 39, 39);
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.icontext {
    position: relative;
    bottom: 20px;
    left: 10px;
}

/*=========Other Products========*/


#o-products {
    background-color: #fff4f3;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    padding-top: 300px;
    padding-bottom: 100px;
    align-content: center;
    text-align: center;
}

.o-image img{
    width: 100%;
    border-radius: 2px;
    padding-top: 10%;
    
}

.o-text {
    padding-top: 80px;
    
}

.o-text h3 {
    color: rgb(199, 9, 9);
    font-family: "Open Sans", sans-serif;
}

.o-text p {
    width: 100%;
    color: rgb(39, 39, 39);
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    padding-top: 20px;
    font-weight: 600;
    padding-right: 5%;
    padding-left: 5%;
}




.container {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
    background-color: rgb(199, 9, 9);
    margin-bottom: 100px;
  }

  .van {
    position: absolute;
    top: 40%;
    right: -200px;
    transform: translate(0, -50%);
    width: 200px;
    height: 100px;
    background-image: url('image/van.png'); 
    background-size: cover;
    animation: moveVan 5s linear infinite;
  }

  .reveal-text {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    font-size: 24px; /* Adjust font size as needed */
    color: #fff;
    opacity: 0;
    animation: revealText 5s linear infinite;
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    
  }



  .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color:rgb(199, 9, 9); 
    animation: revealText 5s linear infinite;
  }

  @keyframes moveVan {
    0% {
      right: 0;
    }
    50% {
      right: 50%;
    }
    100% {
      right: 100%;
    }
  }

  @keyframes revealText {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
    100% {
        opacity: 1;
      }
  }

  .animatedbutton {
    padding: 15px 30px;
    background-color: #fefeff;
    color: #e23535;
    border: none;
    border-radius: 4px;
    /* margin-left: 140px; */
    margin-top: 180px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
  }




  /*=========Footer========*/


  #footer {
   display: flex;
   flex-direction: column;
   align-items: center;
  }

  .paytext {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 40px;
  }

  .payment-icon img {
    width: 250px;
    margin-bottom: 40px
  }

  .copyright {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 10px;
  }


}